## ConfixBox

In [7]:
d = {"key1": "value1", "key2": "value2"}

In [9]:
d["key1"]

'value1'

In [10]:
d.key1

AttributeError: 'dict' object has no attribute 'key1'

In [11]:
from box import ConfigBox

d2 = ConfigBox(d)
d2

ConfigBox({'key1': 'value1', 'key2': 'value2'})

In [12]:
d2.key1

'value1'

## ensure_annotaions

In [13]:
def get_product(x: int, y: int) -> int:
    return x * y

In [14]:
get_product(x=2, y=3)

6

In [15]:
get_product(x=2, y="3")

'33'

In [17]:
from ensure import ensure_annotations

@ensure_annotations
def get_product(x: int, y: int) -> int:
    return x * y

In [18]:
get_product(x=2, y="3")

EnsureError: Argument y of type <class 'str'> to <function get_product at 0x0000016D2F931EE0> does not match annotation type <class 'int'>

## dataclass

In [12]:
class Person:
    def __init__(self, name, age, profession):
        self.name = name
        self.age = age
        self.profession = profession

    def __repr__(self):
        return f"Person(name={self.name}, age={self.age}, profession={self.profession})"

In [14]:
person1 = Person("Witchakorn", 31, "DataEngineer")
print(person1)
print(person1.name)
print(person1.age)
print(person1.profession)

Person(name=Witchakorn, age=31, profession=DataEngineer)
Witchakorn
31
DataEngineer

In [16]:
from dataclasses import dataclass


@dataclass
class Person:
    name: str
    age: int
    profession: str

In [17]:
person1 = Person("Witchakorn", 31, "DataEngineer")
print(person1)
print(person1.name)
print(person1.age)
print(person1.profession)

Person(name='Witchakorn', age=31, profession='DataEngineer')
Witchakorn
31
DataEngineer

In [18]:
person1.age = 69
print(person1.age)

69

#### Imputation

In [20]:
from dataclasses import dataclass


@dataclass(frozen=True)
class Person:
    name: str
    age: int
    profession: str

In [21]:
person1 = Person("Witchakorn", 31, "DataEngineer")
print(person1)
print(person1.name)
print(person1.age)
print(person1.profession)

Person(name='Witchakorn', age=31, profession='DataEngineer')
Witchakorn
31
DataEngineer

In [22]:
person1.age = 69

FrozenInstanceError: cannot assign to field 'age'

#### Inheritance

In [26]:
from dataclasses import dataclass


@dataclass
class Person:
    name: str
    age: int
    profession: str


@dataclass
class Employee(Person):
    employee_id: str
    department: str

In [27]:
person1 = Person("Witchakorn", 31, "DataEngineer")
print(person1)

employee1 = Employee("Witchakorn", 31, "DataEngineer",
                     "BD65130459", "DataAnalytics")
print(employee1)

Person(name='Witchakorn', age=31, profession='DataEngineer')
Employee(name='Witchakorn', age=31, profession='DataEngineer', employee_id='BD65130459', department='DataAnalytics')

#### Nested Data Class

In [28]:
from dataclasses import dataclass


@dataclass
class Address:
    street: str
    city: str
    zip_code: str


@dataclass
class Person:
    name: str
    age: int
    address: Address

In [29]:
address1 = Address("159/53 Gusto-Donmueang", "Bangkok", "10210")
print(address1)

person1 = Person("Witchakorn", 31, address1)
print(person1)

Address(street='159/53 Gusto-Donmueang', city='Bangkok', zip_code='10210')
Person(name='Witchakorn', age=31, address=Address(street='159/53 Gusto-Donmueang', city='Bangkok', zip_code='10210'))

## API test

In [41]:
import pandas as pd

df = pd.read_csv('../artifacts/01_data_ingestion/diabetes_dataset__2019.csv')
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df['Pdiabetes'].replace('0', 'no', inplace=True)
df

,Age,Gender,Family_Diabetes,highBP,PhysicallyActive,BMI,Smoking,Alcohol,Sleep,SoundSleep,RegularMedicine,JunkFood,Stress,BPLevel,Pregancies,Pdiabetes,UriationFreq,Diabetic
0,50-59,Male,no,yes,one hr or more,39.0,no,no,8,6,no,occasionally,sometimes,high,0.0,no,not much,no
1,50-59,Male,no,yes,less than half an hr,28.0,no,no,8,6,yes,very often,sometimes,normal,0.0,no,not much,no
2,40-49,Male,no,no,one hr or more,24.0,no,no,6,6,no,occasionally,sometimes,normal,0.0,no,not much,no
3,50-59,Male,no,no,one hr or more,23.0,no,no,8,6,no,occasionally,sometimes,normal,0.0,no,not much,no
4,40-49,Male,no,no,less than half an hr,27.0,no,no,8,8,no,occasionally,sometimes,normal,0.0,no,not much,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
900,less than 40,Male,yes,no,more than half an hr,25.0,no,no,8,6,no,often,sometimes,normal,0.0,no,not much,yes
901,60 or older,Male,yes,yes,more than half an hr,27.0,no,no,6,5,yes,occasionally,sometimes,high,0.0,no,quite often,yes
902,60 or older,Male,no,yes,none,23.0,no,no,6,5,yes,occasionally,sometimes,high,0.0,no,not much,no
903,60 or older,Male,no,yes,less than half an hr,27.0,no,yes,6,5,yes,occasionally,very often,high,0.0,no,not much,no
904,60 or older,Female,yes,yes,one hr or more,30.0,no,no,7,4,yes,occasionally,sometimes,high,2.0,no,quite often,yes

In [42]:
print(df.iloc[0, :-1].to_json(indent=4))

{
    "Age":"50-59",
    "Gender":"Male",
    "Family_Diabetes":"no",
    "highBP":"yes",
    "PhysicallyActive":"one hr or more",
    "BMI":39.0,
    "Smoking":"no",
    "Alcohol":"no",
    "Sleep":8,
    "SoundSleep":6,
    "RegularMedicine":"no",
    "JunkFood":"occasionally",
    "Stress":"sometimes",
    "BPLevel":"high",
    "Pregancies":0.0,
    "Pdiabetes":"no",
    "UriationFreq":"not much"
}

In [43]:
print(df.iloc[901, :-1].to_json(indent=4))

{
    "Age":"60 or older",
    "Gender":"Male",
    "Family_Diabetes":"yes",
    "highBP":"yes",
    "PhysicallyActive":"more than half an hr",
    "BMI":27.0,
    "Smoking":"no",
    "Alcohol":"no",
    "Sleep":6,
    "SoundSleep":5,
    "RegularMedicine":"yes",
    "JunkFood":"occasionally",
    "Stress":"sometimes",
    "BPLevel":"high",
    "Pregancies":0.0,
    "Pdiabetes":"no",
    "UriationFreq":"quite often"
}

## Unit Test

### Flake8

In [ ]:
# content of test_sample.py
import os

def greeting(name):
    print("Hello, " + name)
    
first_name

greeting()
 greeting("Bob")

### Pytest

In [ ]:
# content of test_sample.py
def inc(x):
    return x + 1


def test_answer():
    assert inc(3) == 5

In [1]:
def transform_case(text, case_transform):
    return case_transform(text)

text = "Hello World"

# Title Case
title_case = transform_case(text, str.title)

# Upper Case
upper_case = transform_case(text, str.upper)

# Lower Case
lower_case = transform_case(text, str.lower)

# Snake Case
snake_case = "_".join(word.lower() for word in text.split())

# Camel Case
camel_case = "".join(word.title() for word in text.split())

# Kebab Case
kebab_case = "-".join(word.lower() for word in text.split())

# Display the results
print(f"Original: {text}")
print(f"Title Case: {title_case}")
print(f"Upper Case: {upper_case}")
print(f"Lower Case: {lower_case}")
print(f"Snake Case: {snake_case}")
print(f"Camel Case: {camel_case}")
print(f"Kebab Case: {kebab_case}")

Original: Hello World
Title Case: Hello World
Upper Case: HELLO WORLD
Lower Case: hello world
Snake Case: hello_world
Camel Case: HelloWorld
Kebab Case: hello-world

In [5]:
print('Form Data:', '\033[92m' + "555" + '\033[0m')

Form Data: 555